{
  "x-generator": "NSwag v13.14.8.0 (NJsonSchema v10.5.2.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "Runway API"
  },
  "host": "portal.runway.host",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "platform": {
      "enum": [
        "Agnostic",
        "Cloud",
        "Windows64",
        "Windows32",
        "Linux64",
        "Linux32",
        "MacOS",
        "Android",
        "iOS"
      ],
      "in": "query",
      "x-nullable": false,
      "type": "string",
      "description": "",
      "name": "platform"
    }
  },
  "paths": {
    "/api/v2/accounts": {
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_DeleteBySet"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIAccountAssetQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_List"
      }
    },
    "/api/v2/accounts/{accountId}": {
      "delete": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "accountId"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_DeleteById"
      },
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "accountId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayAccountAsset"
            },
            "description": ""
          }
        },
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_Load"
      }
    },
    "/api/v2/accounts/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_Count"
      }
    },
    "/api/v2/accounts/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/accounts/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIAccountAssetQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/accounts/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_GetQuerySchema"
      }
    },
    "/api/v2/accounts/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/accounts/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_GetTags"
      }
    },
    "/api/v2/assets/map": {
      "post": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetMap"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Asset"
        ],
        "operationId": "Asset_MapAssets"
      }
    },
    "/api/v2/assets/map/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Asset"
        ],
        "operationId": "Asset_QueryMap",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfAssetMapEndpointView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/assets/map/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Asset"
        ],
        "operationId": "Asset_GetQuerySchema"
      }
    },
    "/api/v2/auth/activate": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Activate",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivateUserRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/auth/admin-password-reset": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_AdminResetPassword",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/auth/change-password": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_ChangePassword",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/auth/enroll": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Enroll",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/EnrollResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnrollRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/auth/login": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Login",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/auth/logout": {
      "post": {
        "operationId": "Authentication_Logout",
        "summary": "Authentication_Logout",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Authentication"
        ],
        "description": "Terminate the current user session."
      }
    },
    "/api/v2/auth/node": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayNode"
            },
            "description": ""
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetCurrentNodeStatus"
      }
    },
    "/api/v2/auth/node/utility": {
      "post": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            },
            "description": ""
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_CreateUtilityNode"
      }
    },
    "/api/v2/auth/password-reset": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_ResetPassword",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/auth/password-strength/{password}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "password",
            "in": "path"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int32"
            },
            "description": ""
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetPasswordStrength"
      }
    },
    "/api/v2/auth/ping": {
      "get": {
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Ping"
      }
    },
    "/api/v2/auth/signup": {
      "post": {
        "description": "Create a new user account, pending validation of email address.  An email message will be sent to the specified email address with further instructions.  This method requires a captcha token produced by the Runway web application in order to succeed.",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Signup",
        "summary": "Authentication_Signup",
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignupRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        }
      }
    },
    "/api/v2/auth/signup/live": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignupLive",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignupRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/auth/unique-identity/{email}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "email",
            "in": "path"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_IsEmailUnique"
      }
    },
    "/api/v2/auth/user": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayUser"
            },
            "description": ""
          }
        },
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetCurrentUser"
      }
    },
    "/api/v2/client/close_stream": {
      "post": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CloseStreamRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "tags": [
          "Client"
        ],
        "operationId": "Client_CloseStream"
      }
    },
    "/api/v2/client/socket": {
      "get": {
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "tags": [
          "Client"
        ],
        "operationId": "Client_Socket"
      }
    },
    "/api/v2/client/socket2/{stream}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "stream",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "tags": [
          "Client"
        ],
        "operationId": "Client_Socket2"
      }
    },
    "/api/v2/connections": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIConnectionQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_List"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Create",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/IdResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConnectionRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_DeleteBySet"
      }
    },
    "/api/v2/connections/{connectionId}": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "connectionId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayConnection"
            },
            "description": ""
          }
        },
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Load"
      },
      "put": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "connectionId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateConnectionRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Update"
      },
      "delete": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "connectionId"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_DeleteById"
      }
    },
    "/api/v2/connections/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Count"
      }
    },
    "/api/v2/connections/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/connections/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIConnectionQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/connections/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_GetQuerySchema"
      }
    },
    "/api/v2/connections/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/connections/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_GetTags"
      }
    },
    "/api/v2/content": {
      "post": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/IdResponse"
            },
            "description": ""
          }
        },
        "tags": [
          "Content"
        ],
        "operationId": "Content_Upload"
      }
    },
    "/api/v2/content/{contentId}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "contentId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "tags": [
          "Content"
        ],
        "operationId": "Content_Download"
      }
    },
    "/api/v2/content/public": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "type": "string",
            "name": "key",
            "in": "query"
          },
          {
            "$ref": "#/parameters/platform"
          },
          {
            "x-nullable": true,
            "type": "string",
            "name": "id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "tags": [
          "Content"
        ],
        "operationId": "Content_DownloadPublicFile"
      }
    },
    "/api/v2/content/public/available": {
      "get": {
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContentView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Content"
        ],
        "operationId": "Content_GetPublicDownloads"
      }
    },
    "/api/v2/content/public/info": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "type": "string",
            "name": "key",
            "in": "query"
          },
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/ContentInfo"
            },
            "description": ""
          }
        },
        "tags": [
          "Content"
        ],
        "operationId": "Content_GetPublicFileInfo"
      }
    },
    "/api/v2/content/version": {
      "get": {
        "deprecated": true,
        "tags": [
          "Content"
        ],
        "operationId": "Content_Version",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/VersionResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ]
      }
    },
    "/api/v2/endpoints": {
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_DeleteBySet"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIEndpointAssetQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_List"
      }
    },
    "/api/v2/endpoints/{endpointId}": {
      "delete": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "endpointId"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_DeleteById"
      },
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "endpointId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayEndpointAsset"
            },
            "description": ""
          }
        },
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_Load"
      }
    },
    "/api/v2/endpoints/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_Count"
      }
    },
    "/api/v2/endpoints/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/endpoints/dissolve": {
      "put": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/DissolveEndpointsRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_DissolveEndpoints"
      }
    },
    "/api/v2/endpoints/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIEndpointAssetQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/endpoints/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_GetQuerySchema"
      }
    },
    "/api/v2/endpoints/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/endpoints/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_GetTags"
      }
    },
    "/api/v2/enrollment": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Enrollment"
        ],
        "operationId": "Enrollment_CreateEnrollmentSession",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEnrollmentSessionRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/groups": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIGroupQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_List"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_Create",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/IdResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_DeleteBySet"
      }
    },
    "/api/v2/groups/{folderId}/remove": {
      "put": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "folderId",
            "in": "path"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_RemoveUsersFromGroup"
      }
    },
    "/api/v2/groups/{groupId}": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "groupId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayGroup"
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_Load"
      },
      "put": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "groupId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateGroupRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_Update"
      },
      "delete": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "groupId"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_DeleteById"
      }
    },
    "/api/v2/groups/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_Count"
      }
    },
    "/api/v2/groups/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/groups/ex/{groupId}": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "groupId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/GroupQueryViewEx"
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_LoadEx"
      }
    },
    "/api/v2/groups/hierarchy": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RunwayGroup"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetHierarchy"
      }
    },
    "/api/v2/groups/hierarchyex": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupHierarchyViewEx"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetHierarchyEx"
      }
    },
    "/api/v2/groups/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIGroupQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/groups/query/ex": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_QueryEx",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfGroupQueryViewEx"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/groups/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetQuerySchema"
      }
    },
    "/api/v2/groups/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Group"
        ],
        "operationId": "Group_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/groups/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetTags"
      }
    },
    "/api/v2/invitations": {
      "put": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvitationAnswerRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_AnswerInvitation"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIInvitationQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_List"
      },
      "post": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupInvitationRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_InviteUsers"
      },
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_DeleteBySet"
      }
    },
    "/api/v2/invitations/{invitationId}": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "invitationId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayInvitation"
            },
            "description": ""
          }
        },
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_Load"
      }
    },
    "/api/v2/invitations/{targetSetId}/members": {
      "put": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_AddToSetByIds",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "targetSetId",
            "in": "path"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "name": "objectIds",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/invitations/adduserstogroup": {
      "post": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupInvitationRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_AddUsersToGroup"
      }
    },
    "/api/v2/invitations/availability/{email}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "email",
            "in": "path"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "boolean"
            },
            "description": ""
          }
        },
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_HasInvitations"
      }
    },
    "/api/v2/invitations/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_Count"
      }
    },
    "/api/v2/invitations/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/invitations/current": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IInvitationQueryView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_GetInvitations"
      }
    },
    "/api/v2/invitations/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIInvitationQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/invitations/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_GetQuerySchema"
      }
    },
    "/api/v2/invitations/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/invitations/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_GetTags"
      }
    },
    "/api/v2/jobs": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIJobQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_List"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_Create",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/CreateJobResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateJobRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_DeleteBySet"
      }
    },
    "/api/v2/jobs/{jobId}": {
      "delete": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "jobId"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_DeleteById"
      },
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "jobId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayJob"
            },
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_Load"
      }
    },
    "/api/v2/jobs/{jobId}/actions": {
      "put": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "jobId",
            "in": "path"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionSettingRequest"
              }
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_UpdateActions"
      }
    },
    "/api/v2/jobs/{jobId}/enable": {
      "put": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "jobId",
            "in": "path"
          },
          {
            "x-nullable": false,
            "type": "boolean",
            "name": "value",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_EnableJob"
      }
    },
    "/api/v2/jobs/{jobId}/schedule": {
      "put": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "jobId",
            "in": "path"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobSchedule"
            },
            "name": "schedule",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_UpdateSchedule"
      }
    },
    "/api/v2/jobs/compile": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_Compile",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionConfiguration"
              }
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompileJobRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/jobs/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_Count"
      }
    },
    "/api/v2/jobs/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/jobs/name": {
      "get": {
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetRandomJobName"
      }
    },
    "/api/v2/jobs/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIJobQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/jobs/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetQuerySchema"
      }
    },
    "/api/v2/jobs/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Job"
        ],
        "operationId": "Job_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/jobs/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetTags"
      }
    },
    "/api/v2/logs/{nodeId}": {
      "post": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "nodeId",
            "in": "path"
          }
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        },
        "tags": [
          "Logs"
        ],
        "operationId": "Logs_RequestLogs"
      }
    },
    "/api/v2/repository": {
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_DeleteBySet"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRepositoryItemQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_List"
      }
    },
    "/api/v2/repository/{repositoryId}": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "repositoryId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayRepositoryItem"
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_Load"
      }
    },
    "/api/v2/repository/action": {
      "post": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActionRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_CreateAction"
      }
    },
    "/api/v2/repository/action/{actionId}/download": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "actionId"
          },
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "schema": {
              "type": "file"
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_DownloadAction"
      }
    },
    "/api/v2/repository/action/{actionId}/info": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "actionId"
          },
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/ContentInfo"
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_GetActionContentInfo"
      }
    },
    "/api/v2/repository/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_Count"
      }
    },
    "/api/v2/repository/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/repository/name/{name}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "name",
            "in": "path"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayRepositoryItem"
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_LoadByName"
      }
    },
    "/api/v2/repository/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRepositoryItemQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/repository/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_GetQuerySchema"
      }
    },
    "/api/v2/repository/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/repository/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_GetTags"
      }
    },
    "/api/v2/results": {
      "post": {
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "tags": [
          "Results"
        ],
        "operationId": "Results_RequestActionResult",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "string"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionResultRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/results/{notifyId}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "notifyId",
            "in": "path"
          }
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/CheckResultResponse"
            },
            "description": ""
          }
        },
        "tags": [
          "Results"
        ],
        "operationId": "Results_CheckActionResult"
      },
      "put": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "notifyId",
            "in": "path"
          },
          {
            "x-nullable": true,
            "type": "string",
            "name": "contentId",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Results"
        ],
        "operationId": "Results_NotifyActionResultReady"
      }
    },
    "/api/v2/results/error/{notifyId}": {
      "put": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "notifyId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Results"
        ],
        "operationId": "Results_NotifyDownloadError"
      }
    },
    "/api/v2/results/progress/{notifyId}": {
      "put": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "notifyId",
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Results"
        ],
        "operationId": "Results_NotifyDownloadInProgress"
      }
    },
    "/api/v2/roles": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRoleView"
            },
            "description": ""
          }
        },
        "tags": [
          "Role"
        ],
        "operationId": "Role_List"
      },
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Role"
        ],
        "operationId": "Role_Create",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/IdResponse"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRoleRequest"
            },
            "name": "request",
            "in": "body"
          }
        ]
      },
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Role"
        ],
        "operationId": "Role_DeleteBySet"
      }
    },
    "/api/v2/roles/{roleId}": {
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "roleId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayRole"
            },
            "description": ""
          }
        },
        "tags": [
          "Role"
        ],
        "operationId": "Role_Load"
      },
      "put": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "roleId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRoleRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Role"
        ],
        "operationId": "Role_Update"
      },
      "delete": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "roleId"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Role"
        ],
        "operationId": "Role_DeleteById"
      }
    },
    "/api/v2/roles/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "Role"
        ],
        "operationId": "Role_Count"
      }
    },
    "/api/v2/roles/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Role"
        ],
        "operationId": "Role_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/roles/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Role"
        ],
        "operationId": "Role_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRoleView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/roles/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Role"
        ],
        "operationId": "Role_GetQuerySchema"
      }
    },
    "/api/v2/roles/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Role"
        ],
        "operationId": "Role_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/roles/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Role"
        ],
        "operationId": "Role_GetTags"
      }
    },
    "/api/v2/runners": {
      "delete": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "name": "setRequest",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_DeleteBySet"
      },
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRunnerQueryView"
            },
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_List"
      }
    },
    "/api/v2/runners/{runnerId}": {
      "delete": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "runnerId"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_DeleteById"
      },
      "get": {
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "runnerId"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/RunwayRunner"
            },
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_Load"
      }
    },
    "/api/v2/runners/count": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_Count"
      }
    },
    "/api/v2/runners/count/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_CountQuery",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/runners/dissolve": {
      "put": {
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/DissolveRunnersRequest"
            },
            "name": "request",
            "in": "body"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_BeginDissolveRunners"
      }
    },
    "/api/v2/runners/dissolved": {
      "delete": {
        "responses": {
          "200": {
            "x-nullable": true,
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_CompleteDissolveRunner"
      }
    },
    "/api/v2/runners/group/{groupId}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "groupId",
            "in": "path"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryRunnersResponse"
            },
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_QueryByGroupId"
      }
    },
    "/api/v2/runners/ip/{ipAddress}": {
      "get": {
        "parameters": [
          {
            "x-nullable": true,
            "required": true,
            "type": "string",
            "name": "ipAddress",
            "in": "path"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryRunnersResponse"
            },
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_QueryByIP"
      }
    },
    "/api/v2/runners/query": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_Query",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRunnerQueryView"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/runners/query/schema": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            },
            "description": ""
          }
        },
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_GetQuerySchema"
      }
    },
    "/api/v2/runners/query/set/{setId}": {
      "post": {
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "tags": [
          "Runner"
        ],
        "operationId": "Runner_SaveQueryToSet",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            },
            "description": ""
          }
        },
        "parameters": [
          {
            "type": "string",
            "required": true,
            "in": "path",
            "x-nullable": true,
            "name": "setId"
          },
          {
            "x-nullable": false,
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "name": "query",
            "in": "body"
          }
        ]
      }
    },
    "/api/v2/runners/tags": {
      "get": {
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
[...]
