{
  "x-generator": "NSwag v13.14.8.0 (NJsonSchema v10.5.2.0 (Newtonsoft.Json v12.0.0.0))",
  "swagger": "2.0",
  "info": {
    "title": "Runway API",
    "version": "2.0"
  },
  "host": "portal.runway.host",
  "schemes": [
    "https"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "platform": {
      "type": "string",
      "name": "platform",
      "in": "query",
      "x-nullable": false,
      "enum": [
        "Agnostic",
        "Cloud",
        "Windows64",
        "Windows32",
        "Linux64",
        "Linux32",
        "MacOS",
        "Android",
        "iOS"
      ]
    }
  },
  "paths": {
    "/api/v2/accounts": {
      "delete": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_DeleteBySet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "setRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIAccountAssetQueryView"
            }
          }
        }
      }
    },
    "/api/v2/accounts/{id}": {
      "delete": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_DeleteById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayAccountAsset"
            }
          }
        }
      }
    },
    "/api/v2/accounts/tags": {
      "get": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/query": {
      "post": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIAccountAssetQueryView"
            }
          }
        }
      }
    },
    "/api/v2/accounts/count": {
      "get": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/accounts/count/query": {
      "post": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/accounts/query/schema": {
      "get": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/accounts/query/set/{id}": {
      "post": {
        "tags": [
          "AccountAsset"
        ],
        "operationId": "AccountAsset_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/assets/map": {
      "post": {
        "tags": [
          "Asset"
        ],
        "operationId": "Asset_MapAssets",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AssetMap"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/assets/map/query": {
      "post": {
        "tags": [
          "Asset"
        ],
        "operationId": "Asset_QueryMap",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfAssetMapEndpointView"
            }
          }
        }
      }
    },
    "/api/v2/assets/map/schema": {
      "get": {
        "tags": [
          "Asset"
        ],
        "operationId": "Asset_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Login",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoginRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/api/v2/auth/logout": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authentication_Logout",
        "description": "Terminate the current user session.",
        "operationId": "Authentication_Logout",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/auth/signup": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authentication_Signup",
        "description": "Create a new user account, pending validation of email address.  An email message will be sent to the specified email address with further instructions.  This method requires a captcha token produced by the Runway web application in order to succeed.",
        "operationId": "Authentication_Signup",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignupRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/auth/signup/live": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_SignupLive",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignupRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/api/v2/auth/user": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetCurrentUser",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayUser"
            }
          }
        }
      }
    },
    "/api/v2/auth/node": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetCurrentNodeStatus",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayNode"
            }
          }
        }
      }
    },
    "/api/v2/auth/node/utility": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_CreateUtilityNode",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/api/v2/auth/activate": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Activate",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActivateUserRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/api/v2/auth/enroll": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Enroll",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EnrollRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/EnrollResponse"
            }
          }
        }
      }
    },
    "/api/v2/auth/unique-identity/{email}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_IsEmailUnique",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "email",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v2/auth/password-strength/{password}": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_GetPasswordStrength",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "password",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        }
      }
    },
    "/api/v2/auth/password-reset": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_ResetPassword",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ResetPasswordRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/LoginResponse"
            }
          }
        }
      }
    },
    "/api/v2/auth/ping": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "operationId": "Authentication_Ping",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/client/socket": {
      "get": {
        "tags": [
          "Client"
        ],
        "operationId": "Client_Socket",
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/connections": {
      "delete": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_DeleteBySet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "setRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Create",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateConnectionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIConnectionQueryView"
            }
          }
        }
      }
    },
    "/api/v2/connections/{id}": {
      "delete": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_DeleteById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Update",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateConnectionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayConnection"
            }
          }
        }
      }
    },
    "/api/v2/connections/tags": {
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/connections/query": {
      "post": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIConnectionQueryView"
            }
          }
        }
      }
    },
    "/api/v2/connections/count": {
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/connections/count/query": {
      "post": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/connections/query/schema": {
      "get": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/connections/query/set/{id}": {
      "post": {
        "tags": [
          "Connection"
        ],
        "operationId": "Connection_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/content/version": {
      "get": {
        "tags": [
          "Content"
        ],
        "operationId": "Content_Version",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/VersionResponse"
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v2/content/public": {
      "get": {
        "tags": [
          "Content"
        ],
        "operationId": "Content_DownloadPublicFile",
        "parameters": [
          {
            "type": "string",
            "name": "key",
            "in": "query",
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "platform",
            "in": "query",
            "x-schema": {
              "$ref": "#/definitions/Platform"
            },
            "x-nullable": false,
            "enum": [
              "Agnostic",
              "Cloud",
              "Windows64",
              "Windows32",
              "Linux64",
              "Linux32",
              "MacOS",
              "Android",
              "iOS"
            ]
          },
          {
            "type": "string",
            "name": "id",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/content/public/available": {
      "get": {
        "tags": [
          "Content"
        ],
        "operationId": "Content_GetPublicDownloads",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ContentView"
              }
            }
          }
        }
      }
    },
    "/api/v2/content/public/info": {
      "get": {
        "tags": [
          "Content"
        ],
        "operationId": "Content_GetPublicFileInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "key",
            "in": "query",
            "x-nullable": true
          },
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ContentInfo"
            }
          }
        }
      }
    },
    "/api/v2/content": {
      "post": {
        "tags": [
          "Content"
        ],
        "operationId": "Content_Upload",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdResponse"
            }
          }
        }
      }
    },
    "/api/v2/content/{contentId}": {
      "get": {
        "tags": [
          "Content"
        ],
        "operationId": "Content_Download",
        "parameters": [
          {
            "type": "string",
            "name": "contentId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/endpoints": {
      "delete": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_DeleteBySet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "setRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIEndpointAssetQueryView"
            }
          }
        }
      }
    },
    "/api/v2/endpoints/{id}": {
      "delete": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_DeleteById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayEndpointAsset"
            }
          }
        }
      }
    },
    "/api/v2/endpoints/dissolve": {
      "put": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_DissolveEndpoints",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DissolveEndpointsRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/endpoints/tags": {
      "get": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/endpoints/query": {
      "post": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIEndpointAssetQueryView"
            }
          }
        }
      }
    },
    "/api/v2/endpoints/count": {
      "get": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/endpoints/count/query": {
      "post": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/endpoints/query/schema": {
      "get": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/endpoints/query/set/{id}": {
      "post": {
        "tags": [
          "EndpointAsset"
        ],
        "operationId": "EndpointAsset_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/enrollment": {
      "post": {
        "tags": [
          "Enrollment"
        ],
        "operationId": "Enrollment_CreateEnrollmentSession",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateEnrollmentSessionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenResponse"
            }
          }
        }
      }
    },
    "/api/v2/groups/query/ex": {
      "post": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_QueryEx",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfGroupQueryViewEx"
            }
          }
        }
      }
    },
    "/api/v2/groups/ex/{id}": {
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_LoadEx",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/GroupQueryViewEx"
            }
          }
        }
      }
    },
    "/api/v2/groups": {
      "delete": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_DeleteBySet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "setRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_Create",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateGroupRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIGroupQueryView"
            }
          }
        }
      }
    },
    "/api/v2/groups/{id}": {
      "delete": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_DeleteById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_Update",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateGroupRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayGroup"
            }
          }
        }
      }
    },
    "/api/v2/groups/hierarchy": {
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetHierarchy",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RunwayGroup"
              }
            }
          }
        }
      }
    },
    "/api/v2/groups/hierarchyex": {
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetHierarchyEx",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/GroupHierarchyViewEx"
              }
            }
          }
        }
      }
    },
    "/api/v2/groups/tags": {
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/groups/query": {
      "post": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIGroupQueryView"
            }
          }
        }
      }
    },
    "/api/v2/groups/count": {
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/groups/count/query": {
      "post": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/groups/query/schema": {
      "get": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/groups/query/set/{id}": {
      "post": {
        "tags": [
          "Group"
        ],
        "operationId": "Group_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/invitations": {
      "post": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_InviteUsers",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GroupInvitationRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_AnswerInvitation",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/InvitationAnswerRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_DeleteBySet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "setRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIInvitationQueryView"
            }
          }
        }
      }
    },
    "/api/v2/invitations/current": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_GetInvitations",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IInvitationQueryView"
              }
            }
          }
        }
      }
    },
    "/api/v2/invitations/{targetSetId}/members": {
      "put": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_AddToSetByIds",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "targetSetId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "objectIds",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/invitations/availability/{email}": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_HasInvitations",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "email",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "boolean"
            }
          }
        }
      }
    },
    "/api/v2/invitations/tags": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/invitations/{id}": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayInvitation"
            }
          }
        }
      }
    },
    "/api/v2/invitations/query": {
      "post": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIInvitationQueryView"
            }
          }
        }
      }
    },
    "/api/v2/invitations/count": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/invitations/count/query": {
      "post": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/invitations/query/schema": {
      "get": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/invitations/query/set/{id}": {
      "post": {
        "tags": [
          "Invitation"
        ],
        "operationId": "Invitation_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/jobs": {
      "delete": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_DeleteBySet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "setRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Create",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateJobRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CreateJobResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIJobQueryView"
            }
          }
        }
      }
    },
    "/api/v2/jobs/{id}": {
      "delete": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_DeleteById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayJob"
            }
          }
        }
      }
    },
    "/api/v2/jobs/name": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetRandomJobName",
        "produces": [
          "text/plain"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v2/jobs/compile": {
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Compile",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CompileJobRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionConfiguration"
              }
            }
          }
        }
      }
    },
    "/api/v2/jobs/{jobId}": {
      "put": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Update",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateJobRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/jobs/{jobId}/schedule": {
      "put": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_UpdateSchedule",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "schedule",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/JobSchedule"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/jobs/{jobId}/actions": {
      "put": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_UpdateActions",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ActionSettingRequest"
              }
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/jobs/{jobId}/enable": {
      "put": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_EnableJob",
        "parameters": [
          {
            "type": "string",
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "boolean",
            "name": "value",
            "in": "query",
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/jobs/tags": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/jobs/query": {
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIJobQueryView"
            }
          }
        }
      }
    },
    "/api/v2/jobs/count": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/jobs/count/query": {
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/jobs/query/schema": {
      "get": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/jobs/query/set/{id}": {
      "post": {
        "tags": [
          "Job"
        ],
        "operationId": "Job_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/threads/{threadId}": {
      "delete": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_DeleteById",
        "parameters": [
          {
            "type": "string",
            "name": "threadId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/threads/job/{jobId}": {
      "delete": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_DeleteByJob",
        "parameters": [
          {
            "type": "string",
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_GetThreadsForJob",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "jobId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/RunwayJobThread"
              }
            }
          }
        }
      }
    },
    "/api/v2/threads/auto": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_GetAutoSpawnThreads",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/ThreadView"
              }
            }
          }
        }
      }
    },
    "/api/v2/threads/{id}/lastresult": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_DownloadResultForThread",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/threads/{id}/lastlog": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_GetLastLogForThread",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/threads/{id}/nodename": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_GetNodeNameForThread",
        "produces": [
          "text/plain"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v2/threads/step": {
      "put": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_StepJobThread",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/StepThreadRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/threads/tags": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/threads/{id}": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayJobThread"
            }
          }
        }
      }
    },
    "/api/v2/threads": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIJobThreadQueryView"
            }
          }
        }
      }
    },
    "/api/v2/threads/query": {
      "post": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIJobThreadQueryView"
            }
          }
        }
      }
    },
    "/api/v2/threads/count": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/threads/count/query": {
      "post": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/threads/query/schema": {
      "get": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/threads/query/set/{id}": {
      "post": {
        "tags": [
          "JobThread"
        ],
        "operationId": "JobThread_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/logs/{nodeId}": {
      "post": {
        "tags": [
          "Logs"
        ],
        "operationId": "Logs_RequestLogs",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "nodeId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v2/shell": {
      "post": {
        "tags": [
          "RemoteShell"
        ],
        "operationId": "RemoteShell_ShellWrite",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoteShellRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      },
      "delete": {
        "tags": [
          "RemoteShell"
        ],
        "operationId": "RemoteShell_ShellCancel",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoteShellDeleteRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/shell/ping": {
      "post": {
        "tags": [
          "RemoteShell"
        ],
        "operationId": "RemoteShell_ShellPing",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/RemoteShellPingRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/repository/action": {
      "post": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_CreateAction",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateActionRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/repository/action/{id}/download": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_DownloadAction",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/repository/action/{id}/info": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_GetActionContentInfo",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "$ref": "#/parameters/platform"
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/ContentInfo"
            }
          }
        }
      }
    },
    "/api/v2/repository/name/{name}": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_LoadByName",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "name",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayRepositoryItem"
            }
          }
        }
      }
    },
    "/api/v2/repository/tags": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/repository/{id}": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayRepositoryItem"
            }
          }
        }
      }
    },
    "/api/v2/repository": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRepositoryItemQueryView"
            }
          }
        }
      }
    },
    "/api/v2/repository/query": {
      "post": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRepositoryItemQueryView"
            }
          }
        }
      }
    },
    "/api/v2/repository/count": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/repository/count/query": {
      "post": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/repository/query/schema": {
      "get": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_GetQuerySchema",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IFilterProperty"
              }
            }
          }
        }
      }
    },
    "/api/v2/repository/query/set/{id}": {
      "post": {
        "tags": [
          "Repository"
        ],
        "operationId": "Repository_SaveQueryToSet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/results": {
      "post": {
        "tags": [
          "Results"
        ],
        "operationId": "Results_RequestActionResult",
        "consumes": [
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ActionResultRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "string"
            }
          }
        }
      }
    },
    "/api/v2/results/{notifyId}": {
      "put": {
        "tags": [
          "Results"
        ],
        "operationId": "Results_NotifyActionResultReady",
        "parameters": [
          {
            "type": "string",
            "name": "notifyId",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "type": "string",
            "name": "contentId",
            "in": "query",
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Results"
        ],
        "operationId": "Results_CheckActionResult",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "notifyId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/CheckResultResponse"
            }
          }
        }
      }
    },
    "/api/v2/results/progress/{notifyId}": {
      "put": {
        "tags": [
          "Results"
        ],
        "operationId": "Results_NotifyDownloadInProgress",
        "parameters": [
          {
            "type": "string",
            "name": "notifyId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/results/error/{notifyId}": {
      "put": {
        "tags": [
          "Results"
        ],
        "operationId": "Results_NotifyDownloadError",
        "parameters": [
          {
            "type": "string",
            "name": "notifyId",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      }
    },
    "/api/v2/roles": {
      "delete": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_DeleteBySet",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "name": "setRequest",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IdRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_Create",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/CreateRoleRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/IdResponse"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_List",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRoleView"
            }
          }
        }
      }
    },
    "/api/v2/roles/{id}": {
      "delete": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_DeleteById",
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_Update",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          },
          {
            "name": "request",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/UpdateRoleRequest"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": true,
            "description": "",
            "schema": {
              "type": "file"
            }
          }
        }
      },
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_Load",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "type": "string",
            "name": "id",
            "in": "path",
            "required": true,
            "x-nullable": true
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/RunwayRole"
            }
          }
        }
      }
    },
    "/api/v2/roles/tags": {
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_GetTags",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TagView"
              }
            }
          }
        }
      }
    },
    "/api/v2/roles/query": {
      "post": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_Query",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "query",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Query"
            },
            "x-nullable": false
          }
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "$ref": "#/definitions/QueryResponseOfIRoleView"
            }
          }
        }
      }
    },
    "/api/v2/roles/count": {
      "get": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_Count",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "x-nullable": false,
            "description": "",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        }
      }
    },
    "/api/v2/roles/count/query": {
      "post": {
        "tags": [
          "Role"
        ],
        "operationId": "Role_CountQuery",
        "consumes": [
          "application/json",
          "application/*+json"
        ],
        "produces": [
          "application/json"
        ],
[...]
