{
    "x-generator": "NSwag v13.14.8.0 (NJsonSchema v10.5.2.0 (Newtonsoft.Json v12.0.0.0))",
    "swagger": "2.0",
    "info": {
        "version": "2.0",
        "title": "Runway API"
    },
    "host": "portal.brazencloud.com",
    "schemes": [
        "https"
    ],
    "produces": [
        "application/json"
    ],
    "parameters": {
        "platform": {
            "in": "query",
            "type": "string",
            "x-nullable": false,
            "description": "",
            "enum": [
                "Agnostic",
                "Cloud",
                "Windows64",
                "Windows32",
                "Linux64",
                "Linux32",
                "MacOS",
                "Android",
                "iOS",
                "Debian64",
                "Debian32",
                "Centos64",
                "FreeBSD64"
            ],
            "name": "platform"
        }
    },
    "paths": {
        "/api/v2/accounts": {
            "delete": {
                "tags": [
                    "AccountAsset"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "AccountAsset_DeleteBySet",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/IdRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "setRequest"
                    }
                ]
            },
            "get": {
                "tags": [
                    "AccountAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIAccountAssetQueryView"
                        }
                    }
                },
                "operationId": "AccountAsset_List",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/accounts/{accountId}": {
            "delete": {
                "tags": [
                    "AccountAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "AccountAsset_DeleteById",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "accountId"
                    }
                ]
            },
            "get": {
                "tags": [
                    "AccountAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/RunwayAccountAsset"
                        }
                    }
                },
                "operationId": "AccountAsset_Load",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "accountId"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/accounts/count": {
            "get": {
                "tags": [
                    "AccountAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "operationId": "AccountAsset_Count",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/accounts/count/query": {
            "post": {
                "operationId": "AccountAsset_CountQuery",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "AccountAsset"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/accounts/query": {
            "post": {
                "operationId": "AccountAsset_Query",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIAccountAssetQueryView"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "AccountAsset"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/accounts/query/schema": {
            "get": {
                "tags": [
                    "AccountAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/IFilterProperty"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "AccountAsset_GetQuerySchema",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/accounts/query/set/{setId}": {
            "post": {
                "operationId": "AccountAsset_SaveQueryToSet",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "AccountAsset"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "setId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/accounts/tags": {
            "get": {
                "tags": [
                    "AccountAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TagView"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "AccountAsset_GetTags",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/assets/map": {
            "post": {
                "tags": [
                    "Asset"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Asset_MapAssets",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/AssetMap"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            }
        },
        "/api/v2/assets/map/query": {
            "post": {
                "operationId": "Asset_QueryMap",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfAssetMapEndpointView"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Asset"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/assets/map/schema": {
            "get": {
                "tags": [
                    "Asset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/IFilterProperty"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Asset_GetQuerySchema",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/activate": {
            "post": {
                "operationId": "Authentication_Activate",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ActivateUserRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/admin-password-reset": {
            "post": {
                "operationId": "Authentication_AdminResetPassword",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ResetPasswordRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/change-password": {
            "post": {
                "operationId": "Authentication_ChangePassword",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ResetPasswordRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/enroll": {
            "post": {
                "operationId": "Authentication_Enroll",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/EnrollResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/EnrollRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/login": {
            "post": {
                "operationId": "Authentication_Login",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/LoginRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/logout": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "operationId": "Authentication_Logout",
                "description": "Terminate the current user session.",
                "summary": "Authentication_Logout",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                }
            }
        },
        "/api/v2/auth/node": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/RunwayNode"
                        }
                    }
                },
                "operationId": "Authentication_GetCurrentNodeStatus",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/node/utility": {
            "post": {
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    }
                },
                "operationId": "Authentication_CreateUtilityNode",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/password-reset": {
            "post": {
                "operationId": "Authentication_ResetPassword",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/LoginResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Authentication"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/ResetPasswordRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/password-strength/{password}": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int32",
                            "type": "integer"
                        }
                    }
                },
                "operationId": "Authentication_GetPasswordStrength",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "password"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/ping": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Authentication_Ping"
            }
        },
        "/api/v2/auth/unique-identity/{email}": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                },
                "operationId": "Authentication_IsEmailUnique",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "email"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/auth/user": {
            "get": {
                "tags": [
                    "Authentication"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/RunwayUser"
                        }
                    }
                },
                "operationId": "Authentication_GetCurrentUser",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/client/close_stream": {
            "post": {
                "tags": [
                    "Client"
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Client_CloseStream",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/CloseStreamRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            }
        },
        "/api/v2/client/datahub/status": {
            "post": {
                "operationId": "Client_CheckDatahubStatus",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/DatahubStatusResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "tags": [
                    "Client"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/DatahubStatusRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/client/socket": {
            "get": {
                "tags": [
                    "Client"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Client_Socket"
            }
        },
        "/api/v2/client/socket_web/{stream}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Client_SocketWeb",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "stream"
                    }
                ]
            }
        },
        "/api/v2/client/socket2/{stream}": {
            "get": {
                "tags": [
                    "Client"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Client_Socket2",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "stream"
                    }
                ]
            }
        },
        "/api/v2/connections": {
            "post": {
                "operationId": "Connection_Create",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/IdResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/CreateConnectionRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "tags": [
                    "Connection"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIConnectionQueryView"
                        }
                    }
                },
                "operationId": "Connection_List",
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "tags": [
                    "Connection"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Connection_DeleteBySet",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/IdRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "setRequest"
                    }
                ]
            }
        },
        "/api/v2/connections/{connectionId}": {
            "get": {
                "tags": [
                    "Connection"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/RunwayConnection"
                        }
                    }
                },
                "operationId": "Connection_Load",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "connectionId"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "tags": [
                    "Connection"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Connection_DeleteById",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "connectionId"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Connection"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Connection_Update",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "connectionId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/UpdateConnectionRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            }
        },
        "/api/v2/connections/count": {
            "get": {
                "tags": [
                    "Connection"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "operationId": "Connection_Count",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/connections/count/query": {
            "post": {
                "operationId": "Connection_CountQuery",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/connections/query": {
            "post": {
                "operationId": "Connection_Query",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIConnectionQueryView"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/connections/query/schema": {
            "get": {
                "tags": [
                    "Connection"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/IFilterProperty"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Connection_GetQuerySchema",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/connections/query/set/{setId}": {
            "post": {
                "operationId": "Connection_SaveQueryToSet",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Connection"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "setId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/connections/tags": {
            "get": {
                "tags": [
                    "Connection"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TagView"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Connection_GetTags",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/content": {
            "post": {
                "tags": [
                    "Content"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/IdResponse"
                        }
                    }
                },
                "operationId": "Content_Upload",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/content/{contentId}": {
            "get": {
                "tags": [
                    "Content"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Content_Download",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "contentId"
                    }
                ]
            }
        },
        "/api/v2/content/public": {
            "get": {
                "tags": [
                    "Content"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Content_DownloadPublicFile",
                "parameters": [
                    {
                        "x-nullable": true,
                        "in": "query",
                        "type": "string",
                        "name": "key"
                    },
                    {
                        "$ref": "#/parameters/platform"
                    },
                    {
                        "x-nullable": true,
                        "in": "query",
                        "type": "string",
                        "name": "id"
                    }
                ]
            }
        },
        "/api/v2/content/public/available": {
            "get": {
                "tags": [
                    "Content"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/ContentView"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Content_GetPublicDownloads",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/content/public/info": {
            "get": {
                "tags": [
                    "Content"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/ContentInfo"
                        }
                    }
                },
                "operationId": "Content_GetPublicFileInfo",
                "parameters": [
                    {
                        "x-nullable": true,
                        "in": "query",
                        "type": "string",
                        "name": "key"
                    },
                    {
                        "$ref": "#/parameters/platform"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/content/version": {
            "get": {
                "operationId": "Content_Version",
                "deprecated": true,
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/VersionResponse"
                        }
                    }
                },
                "tags": [
                    "Content"
                ],
                "parameters": [
                    {
                        "$ref": "#/parameters/platform"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/datastore/{indexName}": {
            "post": {
                "tags": [
                    "DataStore"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "DataStore_Insert",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "indexName"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/InsertRequestModel"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "requestModel"
                    }
                ]
            }
        },
        "/api/v2/datastore/{indexName}/{groupId}/fields": {
            "get": {
                "tags": [
                    "DataStore"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/DataStoreDocument"
                        }
                    }
                },
                "operationId": "DataStore_GetIndexFields",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "indexName"
                    },
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "groupId"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/datastore/{indexName}/bulk": {
            "post": {
                "tags": [
                    "DataStore"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "DataStore_BulkInsert",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "indexName"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/BulkInsertRequestModel"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "requestModel"
                    }
                ]
            }
        },
        "/api/v2/datastore/{indexName}/chart-data": {
            "post": {
                "tags": [
                    "DataStore"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "DataStore_PlotChartData",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "indexName"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/PlotChartDataRequestModel"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "requestModel"
                    }
                ]
            }
        },
        "/api/v2/datastore/{indexName}/delete": {
            "delete": {
                "operationId": "DataStore_Delete",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/DataStoreDocument"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "DataStore"
                ],
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "indexName"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/DeleteRequestModel"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "requestModel"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/datastore/{indexName}/query": {
            "post": {
                "tags": [
                    "DataStore"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "DataStore_Query",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "indexName"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/QueryRequestModel"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "requestModel"
                    }
                ]
            }
        },
        "/api/v2/datastore/{indexName}/query/eql": {
            "post": {
                "operationId": "DataStore_QueryEql",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/DataStoreDocument"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "DataStore"
                ],
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "indexName"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/QueryEqlRequestModel"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "requestModel"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/datastore/health": {
            "get": {
                "tags": [
                    "DataStore"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/DataStoreDocument"
                        }
                    }
                },
                "operationId": "DataStore_HealthCheck",
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/datastore/indexes/{groupId}": {
            "get": {
                "tags": [
                    "DataStore"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/DataStoreDocument"
                        }
                    }
                },
                "operationId": "DataStore_GetIndexes",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "groupId"
                    }
                ],
                "produces": [
                    "text/plain",
                    "application/json",
                    "text/json"
                ]
            }
        },
        "/api/v2/endpoints": {
            "delete": {
                "tags": [
                    "EndpointAsset"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "EndpointAsset_DeleteBySet",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/IdRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "setRequest"
                    }
                ]
            },
            "get": {
                "tags": [
                    "EndpointAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIEndpointAssetQueryView"
                        }
                    }
                },
                "operationId": "EndpointAsset_List",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/endpoints/{endpointId}": {
            "delete": {
                "tags": [
                    "EndpointAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "EndpointAsset_DeleteById",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "endpointId"
                    }
                ]
            },
            "get": {
                "tags": [
                    "EndpointAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/RunwayEndpointAsset"
                        }
                    }
                },
                "operationId": "EndpointAsset_Load",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "endpointId"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/endpoints/count": {
            "get": {
                "tags": [
                    "EndpointAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "operationId": "EndpointAsset_Count",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/endpoints/count/query": {
            "post": {
                "operationId": "EndpointAsset_CountQuery",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "EndpointAsset"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/endpoints/dissolve": {
            "put": {
                "tags": [
                    "EndpointAsset"
                ],
                "consumes": [
                    "application/json",
                    "text/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "EndpointAsset_DissolveEndpoints",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/DissolveEndpointsRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            }
        },
        "/api/v2/endpoints/query": {
            "post": {
                "operationId": "EndpointAsset_Query",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIEndpointAssetQueryView"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "EndpointAsset"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/endpoints/query/schema": {
            "get": {
                "tags": [
                    "EndpointAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/IFilterProperty"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "EndpointAsset_GetQuerySchema",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/endpoints/query/set/{setId}": {
            "post": {
                "operationId": "EndpointAsset_SaveQueryToSet",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "EndpointAsset"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "setId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/endpoints/tags": {
            "get": {
                "tags": [
                    "EndpointAsset"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TagView"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "EndpointAsset_GetTags",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/enrollment": {
            "post": {
                "operationId": "Enrollment_CreateEnrollmentSession",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/TokenResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/CreateEnrollmentSessionRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups": {
            "post": {
                "operationId": "Group_Create",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/IdResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Group"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/CreateGroupRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIGroupQueryView"
                        }
                    }
                },
                "operationId": "Group_List",
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "tags": [
                    "Group"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Group_DeleteBySet",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/IdRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "setRequest"
                    }
                ]
            }
        },
        "/api/v2/groups/{folderId}/remove": {
            "put": {
                "tags": [
                    "Group"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true,
                        "schema": {
                            "type": "file"
                        }
                    }
                },
                "operationId": "Group_RemoveUsersFromGroup",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "folderId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/IdRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "setRequest"
                    }
                ]
            }
        },
        "/api/v2/groups/{groupId}": {
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/RunwayGroup"
                        }
                    }
                },
                "operationId": "Group_Load",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "groupId"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Group_DeleteById",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "groupId"
                    }
                ]
            },
            "put": {
                "tags": [
                    "Group"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Group_Update",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "groupId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/UpdateGroupRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            }
        },
        "/api/v2/groups/count": {
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "operationId": "Group_Count",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/count/query": {
            "post": {
                "operationId": "Group_CountQuery",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Group"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/ex/{groupId}": {
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/GroupQueryViewEx"
                        }
                    }
                },
                "operationId": "Group_LoadEx",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "groupId"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/hierarchy": {
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/RunwayGroup"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Group_GetHierarchy",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/hierarchyex": {
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/GroupHierarchyViewEx"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Group_GetHierarchyEx",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/query": {
            "post": {
                "operationId": "Group_Query",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIGroupQueryView"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Group"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/query/ex": {
            "post": {
                "operationId": "Group_QueryEx",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfGroupQueryViewEx"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Group"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/query/schema": {
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/IFilterProperty"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Group_GetQuerySchema",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/query/set/{setId}": {
            "post": {
                "operationId": "Group_SaveQueryToSet",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Group"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "setId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/groups/tags": {
            "get": {
                "tags": [
                    "Group"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TagView"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Group_GetTags",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations": {
            "post": {
                "tags": [
                    "Invitation"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Invitation_InviteUsers",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/GroupInvitationRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            },
            "delete": {
                "tags": [
                    "Invitation"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Invitation_DeleteBySet",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/IdRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "setRequest"
                    }
                ]
            },
            "get": {
                "tags": [
                    "Invitation"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIInvitationQueryView"
                        }
                    }
                },
                "operationId": "Invitation_List",
                "produces": [
                    "application/json"
                ]
            },
            "put": {
                "tags": [
                    "Invitation"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Invitation_AnswerInvitation",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/InvitationAnswerRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            }
        },
        "/api/v2/invitations/{invitationId}": {
            "get": {
                "tags": [
                    "Invitation"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/RunwayInvitation"
                        }
                    }
                },
                "operationId": "Invitation_Load",
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "invitationId"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/{targetSetId}/members": {
            "put": {
                "operationId": "Invitation_AddToSetByIds",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Invitation"
                ],
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "targetSetId"
                    },
                    {
                        "schema": {
                            "items": {
                                "type": "string"
                            },
                            "type": "array"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "objectIds"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/adduserstogroup": {
            "post": {
                "tags": [
                    "Invitation"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Invitation_AddUsersToGroup",
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/GroupInvitationRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ]
            }
        },
        "/api/v2/invitations/availability/{email}": {
            "get": {
                "tags": [
                    "Invitation"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "type": "boolean"
                        }
                    }
                },
                "operationId": "Invitation_HasInvitations",
                "parameters": [
                    {
                        "x-nullable": true,
                        "required": true,
                        "in": "path",
                        "type": "string",
                        "name": "email"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/count": {
            "get": {
                "tags": [
                    "Invitation"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "operationId": "Invitation_Count",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/count/query": {
            "post": {
                "operationId": "Invitation_CountQuery",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Invitation"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/current": {
            "get": {
                "tags": [
                    "Invitation"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/IInvitationQueryView"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Invitation_GetInvitations",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/query": {
            "post": {
                "operationId": "Invitation_Query",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIInvitationQueryView"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Invitation"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/query/schema": {
            "get": {
                "tags": [
                    "Invitation"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/IFilterProperty"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Invitation_GetQuerySchema",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/query/set/{setId}": {
            "post": {
                "operationId": "Invitation_SaveQueryToSet",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "format": "int64",
                            "type": "integer"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Invitation"
                ],
                "parameters": [
                    {
                        "in": "path",
                        "x-nullable": true,
                        "type": "string",
                        "required": true,
                        "name": "setId"
                    },
                    {
                        "schema": {
                            "$ref": "#/definitions/Query"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "query"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/invitations/tags": {
            "get": {
                "tags": [
                    "Invitation"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "items": {
                                "$ref": "#/definitions/TagView"
                            },
                            "type": "array"
                        }
                    }
                },
                "operationId": "Invitation_GetTags",
                "produces": [
                    "application/json"
                ]
            }
        },
        "/api/v2/jobs": {
            "post": {
                "operationId": "Job_Create",
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/CreateJobResponse"
                        }
                    }
                },
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "tags": [
                    "Job"
                ],
                "parameters": [
                    {
                        "schema": {
                            "$ref": "#/definitions/CreateJobRequest"
                        },
                        "x-nullable": false,
                        "required": true,
                        "in": "body",
                        "name": "request"
                    }
                ],
                "produces": [
                    "application/json"
                ]
            },
            "get": {
                "tags": [
                    "Job"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": false,
                        "schema": {
                            "$ref": "#/definitions/QueryResponseOfIJobQueryView"
                        }
                    }
                },
                "operationId": "Job_List",
                "produces": [
                    "application/json"
                ]
            },
            "delete": {
                "tags": [
                    "Job"
                ],
                "consumes": [
                    "application/json",
                    "application/*+json"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "x-nullable": true
                    }
                },
                "operationId": "Job_DeleteBySet",
[...]
